<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>音乐蜂巢官网_少儿在线1对1名师钢琴课,激发孩子兴趣主动学琴,琴童家长省心省力还省钱！</title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/element-ui@2.13.0/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="phone/element-ui.css">
    <link rel="stylesheet" href="index.css" />
    <meta name="keywords"
        content="孩子学钢琴,少儿学钢琴,儿童学钢琴,幼儿学钢琴,男女孩学钢琴,女儿子学钢琴,琴童,学弹琴,学琴软件,零0基础学钢琴,钢琴app,1对1钢琴,vip快陪练,小叶子熊猫陪练,练琴,弹琴,电钢琴,手卷钢琴,电子琴,乐器,才艺,音乐启蒙,兴趣班,买什么钢琴,搬琴,声乐,舞蹈班,芭蕾,钢琴怎么学,孩子不学钢琴,宝妈,几岁学钢琴,学钢琴年龄,456789岁,学钢琴的好处,钢琴学费多少钱贵不贵,家教,去哪学钢琴,培训机构,北京上海杭州苏州南京沈阳青岛学钢琴培训,主动学," />
    <meta name="description"
        content="音乐蜂巢潜心3年研创独家动画剧情互动教学课堂，更适合4-9岁的孩子学习。5阶课程体系由央音教授级学科带头人、中法两国作曲家、台湾儿童心里学者等大师共同研发，接轨音协、英皇等级。">
    <script src="jquery.min.js"></script>
    <script src="vue.min.js"></script>
    <script src="element.js"></script>
    <script src="phone/music.js"></script>
    <script src="phone/jquery.jsonp.js"></script>
    <script src="phone/bootstrap.min.js"></script>
    <script src="index.js"></script>
</head>

<body>
    <div class="phone">
        <img style="display: none;" src="https://mh-resource.yinyuefengchao.com/www/first.png">
        <script type="text/javascript" src="https://res.wx.qq.com/open/jweixin-1.2.0.js"></script>
        <script src="https://hm.baidu.com/hm.js?fe73c194f253c1ce47b19f06dfe66f65"></script>
        <div class="main" id="app">
            <div class="container_header">
                <div id="header">
                    <img id="header_bg_image" src="https://mh-resource.yinyuefengchao.com/www_m19/imgs/haiwaiHead.png">
                    <div id="white" style="margin-top:-2%;height:290px">
                        <img id="header_white_image" src="https://mh-resource.yinyuefengchao.com/www_m19/imgs/white.png">
                    </div>
                    <div>
                        <input class="mobile_input" id="book_class" name="baby_mobile" maxlength="20"
                            style="margin-top:50%; " placeholder="请输入您的手机号">
                        <input class="mobile_input" id="wx_id" maxlength="20" style="margin-top:50%;display:none "
                            placeholder="请输入您的微信号或email">
                        <button class="button_bespeak_piano1" style="margin-top:63%; "
                            onclick="channelID()">立即预约钢琴课</button>
                    </div>
                    <div style="width: 80%; margin: 0 auto">
                        <div class="date_quota">
                            <p class="quota_num">今日限免名额仅剩<span id="quota"></span>个
                        </div>

                        <div id="simpleModal" class="modal">
                            <div class="modal-content">
                                <p id="modal_content_p">请输入正确的手机号</p>
                            </div>
                            <div id="close_btn">
                                <img id="close_btn_img" src="https://mh-resource.yinyuefengchao.com/www_m19/imgs/close.png"
                                    onclick="closeModal()" alt="">
                            </div>
                        </div>
                        <div id="simpleWx_id" class="modal">
                            <div class="modal-content">
                                <p id="modal_content_p">请输入正确的微信号或email</p>
                            </div>
                            <div id="close_btn">
                                <img id="close_btn_img" src="https://mh-resource.yinyuefengchao.com/www_m19/imgs/close.png"
                                    onclick="closeWx_id()" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="teacher">
                <p class="p_piano"> <br>六岁的小学员正在练琴</p>
            </div>
            <div class="child">
                <p id="child_yuan"> 在音乐蜂巢学习钢琴6个月</p>
            </div>
            <div class="video">
                <video id="video" controls="controls"
                    poster="https://mh-resource.yinyuefengchao.com/www_m19/imgs/video_img.png">
                    <source src="https://mh-resource.yinyuefengchao.com/www_m19/1576133920492434.mp4" type="video/mp4">
                </video>
            </div>
            <div class="what_piano">
                <p class="p_piano">为什么学钢琴？</p>
            </div>
            <div class="carousel_piano" id="carousel">
                <template>
                    <el-carousel :interval="4000" type="card" :height="height">
                        <el-carousel-item class="el-carousel" v-for="item in img" :key="item.id">
                            <img class="medium" :src="item.url" alt="">
                        </el-carousel-item>
                    </el-carousel>
                </template>
            </div>
            <div class="button_piano">
                <a href="#white">
                    <button class="button_bespeak_piano">立即预约钢琴课</button>
                </a>
            </div>
            <div class="tradition_piano">
                <p class="p_piano">传统方式学琴的苦恼</p>
            </div>
            <div class="tradition">
                <img id="tradition_vexed" src="https://mh-resource.yinyuefengchao.com/www_m19/imgs/vexed.png" alt="">
            </div>
            <div class="">
                <p class="p_piano">音乐蜂巢一站式方案</p>
            </div>
            <div class="one_stop">
                <img id="one_stop_precept" src="https://mh-resource.yinyuefengchao.com/www_m19/imgs/precept.png" alt="">
            </div>
            <div class="button_piano">
                <a href="#white">
                    <button class="button_bespeak_piano">立即预约钢琴课</button>
                </a>
            </div>
            <div class="growth_system">
                <p class="p_piano">音乐蜂巢5阶成长体系</p>
                <p class="growth_system_children">培养儿童综合音乐素养</p>
            </div>
            <div>
                <p id="five_children">
                    教材及教学体系由中国台湾、中国大陆、法国三地顶级音乐教育及儿童心理专家共同打造，针对4—12岁儿童设置阶梯式成长体系。
                </p>
            </div>
            <div class="carousel_L" id="carousel_L">
                <template>
                    <el-carousel indicator-position="outside" :height="height1">
                        <el-carousel-item class="el-carousel" v-for="item in img1" :key="item.id">
                            <img class="el-carousel" :src="item.url" alt="">
                        </el-carousel-item>
                    </el-carousel>
                </template>
            </div>
            <div>
                <p class="p_piano">音乐蜂巢教研专家团队</p>
            </div>
            <div class="research">
                <img id="research_img" src="https://mh-resource.yinyuefengchao.com/www_m19/imgs/research.png" alt="">
            </div>
            <div class="button_piano">
                <a href="#white">
                    <button class="button_bespeak_piano">立即预约钢琴课</button>
                </a>
            </div>
            <div class="teacher">
                <p class="p_piano">音乐蜂巢教学师资</p>
            </div>
            <div class="research">
                <img id="specialty_img" src="https://mh-resource.yinyuefengchao.com/www_m19/imgs/specialty.png" alt="">
            </div>
            <div class="carousel_L">
                <template>
                    <el-carousel indicator-position="outside" :height="height2">
                        <el-carousel-item class="el-carousel" v-for="item in img2" :key="item.id">
                            <img class="el-carousel" :src="item.url" alt="">
                        </el-carousel-item>
                    </el-carousel>
                </template>
            </div>
            <div class="teacher">
                <p class="p_piano">用户反馈<br>孩子主动学琴，快乐练琴</p>
            </div>
            <div class="child">
                <p id="child_yuan">六岁多多（化名）正在练琴，<br>在音乐蜂巢学习钢琴6个月</p>
            </div>
            <div class="video">
                <video id="video" controls="controls"
                    poster="https://mh-resource.yinyuefengchao.com/www_m19/imgs/video_img.png">
                    <source src="https://mh-resource.yinyuefengchao.com/www_m19/1576133920492434.mp4" type="video/mp4">
                </video>
            </div>
            <div class="teacher">
                <p class="p_piano">5对1管家式全方位护航</p>
            </div>
            <div class="five">
                <img id="five_five" src="https://mh-resource.yinyuefengchao.com/www_m19/imgs/five.png" alt="">
            </div>
            <div class="teacher">
                <p class="p_piano">三大承诺保障<br><span id="report_span">报课无后顾之忧</span></p>
            </div>
            <div class="report">
                <img id="report_img" src="https://mh-resource.yinyuefengchao.com/www_m19/imgs/report.png" alt="">
            </div>
            <div style="text-align: center;padding-bottom: 35px;">
                <p>ICP许可证: <a id="icp" href="http://beian.miit.gov.cn/" style="color: black;">辽ICP备17002816</a> </p>
                <p>网络安全投诉电话：010-2134-6418</p>
            </div>
            <div class="bottom">
                <div class="bottom-1">
                    <div class="bottom_jump">
                        <img src="https://mh-resource.yinyuefengchao.com/www_m19/imgs/bofei.png"
                            style="width: 40px;height: 80px;">
                    </div>
                    <div class="bottom_fiy">
                        <p id="bottom_p">免费领取体验课</p>
                        <p id="bottom_p1">咨询微信：yyfcamy</p>
                    </div>
                    <div class="bottom_btn">
                        <a href="#white">
                            <button class="bottom-button">立即领取</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div style="height: 60px;">
            &nbsp;
        </div>
    </div>

    <div class="pc">
        <img style="display: none;" src="https://mh-resource.yinyuefengchao.com/www/first.png">
        <div class="main" id="main">
            <script src="https://hm.baidu.com/hm.js?fe73c194f253c1ce47b19f06dfe66f65"></script>
            <div class="nav" :class="{white:scrollFirst==false}" id="nav">
                <div class="title" id="title">
                    <img v-if="scrollFirst" class="logo" src="src/logo_white.png" alt="">
                    <img v-if="!scrollFirst" class="logo" src="src/logo_color.png" alt="">
                    <ul class="title-dh">
                        <li @click="changeSlide(index)" v-for="(item,index) in nav" :class="{cur:index==curIndex}">{{ item }}</li>
                    </ul>
                </div>

                <div class="right-fixed">
                    <div id="right-about">
                        <img class="right-fixed-logo" src="https://mh-resource.yinyuefengchao.com/www2001/attention.png"
                            alt="">
                        <p class="right-fixed-font">关注我们</p>
                    </div>
                    <a rel="nofollow noreferrer" target="_blank"
                        href="https://cschat-ccs.aliyun.com/index.htm?tntInstId=_1dnwmls&scene=SCE00005718">
                        <div id="right-refer">
                            <img class="right-fixed-logo" src="https://mh-resource.yinyuefengchao.com/www2001/refer.png"
                                alt="">
                            <p class="right-fixed-font">在线咨询</p>
                        </div>
                    </a>
                    <div id="right-download">
                        <img class="right-fixed-logo" src="https://mh-resource.yinyuefengchao.com/www2001/download.png"
                            alt="">
                        <p class="right-fixed-font">下载app</p>
                    </div>
                    <div id="right-phone">
                        <img class="right-fixed-logo" src="https://mh-resource.yinyuefengchao.com/www2001/phone.png" alt="">
                        <p class="right-fixed-font">电话详情</p>
                    </div>

                </div>
                <div class="right-fixed-popup" id="right-fixed-popup">
                    <div id="about-popup" class="right-popup">
                        <img class="attention-imgs" src="https://mh-resource.yinyuefengchao.com/www2001/attention-imgs.png"
                            alt="">
                    </div>
                    <div id="download-popup" class="right-popup">
                        <img class="download-imgs" src="https://mh-resource.yinyuefengchao.com/www2001/download-imgs.png"
                            alt="">
                    </div>
                    <div id="phone-popup" class="right-popup">
                        <img class="phone-imgs" src="https://mh-resource.yinyuefengchao.com/www2001/phone-popup.png" alt="">
                    </div>
                </div>
            </div>
            <div class="home-page" id="home-page">
                <div class="home-page-first">
                    <img class="banner" src="src/banner.png" alt="">
                    <div id="bofei-class">
                        <img class="free_get" src="src/free_get.png" alt="">
                        <img class="get_btn" id="btn-draw" src="src/get_btn.png" alt="">
                    </div>
                </div>
            </div>
            <div class="music-box-bg video_box" id="video_box">
                <div  class="top">
                    <div>
                        <em class="em1"></em>
                        <p class="h1title">音乐蜂巢</p>
                        <em class="em2"></em>
                    </div>
                    <img class="title_line" src="src/line.png" alt="">
                    <p class="descript">专注4-9岁少儿的音乐启蒙开创品牌</p>
                </div>
                <div class="bottom">
                    <div class="left">
                        <div @mouseleave=hideAll(1)>
                            <h1><b class="b1">【音乐启蒙】</b>AI互动闯关</h1>
                            <p class="introduce" v-if='!textAll1'>以培养孩子兴趣为主，采用3D原创动画课堂，高效激发孩子学琴主动性... <i @mouseover="showAll(1)">》</i></p>
                            <p class="all" v-if='textAll1'>以培养孩子兴趣为主，采用3D原创动画课堂，高效激发孩子学琴主动性以培养孩子兴趣为主，采用3D原创动画课堂，高效激发孩子学琴主动性</p>
                        </div>
                        <div @mouseleave=hideAll(2)>
                            <h1><b class="b2">【钢琴教学】</b>真人1对1教学</h1>
                            <p class="introduce" v-if='!textAll2'>涉及古典、近代、流行曲目教学。五阶课程体系由央音、国音、沈音教授、中法... <i @mouseover="showAll(2)">》</i></p>
                            <p class="all" v-if='textAll2'>涉及古典、近代、流行曲目教学。五阶课程体系由央音、国音、沈音教授、中涉及古典、近代、流行曲目教学。五阶课程体系由央音、国音、沈音教授、中法</p>
                        </div>
                        <div @mouseleave=hideAll(3)>
                            <h1><b class="b1">【钢琴陪练】</b>AI智能练琴+真人呼叫1v1</h1>
                            <p class="introduce"  v-if='!textAll3'>课后AI智能练琴系统24小时开放，配合一键呼叫制真人1对1陪练指导，不懂随时问... <i @mouseover="showAll(3)">》</i></p>
                            <p  v-if='textAll3' class="all">课后AI智能练琴系统24小时开放，配合一键呼叫制真人1对1陪练指导，不懂随时问课后AI智能练琴系统24小时开放，配合一键呼叫制真人1对1陪练指导，不懂随时问</p>
                        </div>
                    </div>
                    <video class="video" id="video" controls="controls"
                    poster="https://mh-resource.yinyuefengchao.com/www_m19/imgs/video_img.png">
                    <source src="https://mh-resource.yinyuefengchao.com/www_m19/1576133920492434.mp4" type="video/mp4">
                </video>
                </div>
            </div>
            <div class="music-box-bg">
                <img width="100%" src="src/piano_reasion.png">
            </div>
            <div class="curriculum-structure-page" id="curriculum-structure-page">
                <div class="music-box-bg">
                    <img src="src/five_level.png">
                </div>
                <div class="growth-system-btn">
                    <button class="growth-system-draw">免费领取体验课</button>
                </div>
            </div>
            <div class="expert-page" id="expert-page">
                <div class="top">
                    <div>
                        <em class="em1"></em>
                        <p class="h1title">国内外专家教研</p>
                        <em class="em2"></em>
                    </div>
                    <img class="title_line" src="src/line.png" alt="">
                    <p class="descript">作曲家、钢琴家、儿童学者，一个都不能少</p>
                </div>
                <div class="expert-teacher">
                    <img class="map" src="src/map.png" alt="">
                    <template>
                        <!-- <el-carousel :interval="8000" type="card" height="368px" :width="width"> -->
                        <el-carousel :interval="8000" type="card" height="464px" width="370px">
                            <!-- <el-carousel-item class="el-carousel" v-for="item in img" :key="item.id">
                                <img class="medium" :src="item.url" alt="">
                            </el-carousel-item> -->
                            <el-carousel-item class="el-carousel">
                                <img class="medium" src="src/person1.png" alt="">
                            </el-carousel-item>
                            <el-carousel-item class="el-carousel">
                                <img class="medium" src="src/person2.png" alt="">
                            </el-carousel-item>
                            <el-carousel-item class="el-carousel">
                                <img class="medium" src="src/person3.png" alt="">
                            </el-carousel-item>
                            <el-carousel-item class="el-carousel">
                                <img class="medium" src="src/person4.png" alt="">
                            </el-carousel-item>
                        </el-carousel>
                    </template>
                </div>
                <img class="down" src="src/down.png" alt="">
                <div class="growth-system-btn">
                    <button class="growth-system-draw">免费领取体验课</button>
                </div>
            </div>
            <div class="teacher-page" id="teacher-page">
                <div class="top">
                    <div>
                        <em class="em1"></em>
                        <p class="h1title">金牌讲师</p>
                        <em class="em2"></em>
                    </div>
                    <img class="title_line" src="src/line.png" alt="">
                    <p class="descript">仅招收全国十一大名校师资 且有两年以上儿童教学经验</p>
                </div>
                <img src="src/gold_teacher.png">
                <!-- <div class="teacher-staff">
                    <img class="teacher-zhuzhu" src="https://mh-resource.yinyuefengchao.com/www2001/teacher-zhuzhu.png"
                        alt="">
                    <div class="teacher-shidaomen">
                        <div class="subhead-staff">
                            <p class="subhead-music-staff">10道门槛严选全职教学师资</p>
                            <div class="line-staff"></div>
                            <p class="subhead-line-staff">仅招收全国十一大名校师资<br>且有2年以上儿童钢琴教学经验</p>
                        </div>
                        <img style="width: 640px" src="https://mh-resource.yinyuefengchao.com/www2001/shidaomen.png" alt="">
                    </div>
                </div> -->
                <!-- <div class="two-in-one">
                    <div class="subhead">
                        <p class="subhead-music">智慧学琴，学练二合一更高效</p>
                        <div class="line"></div>
                        <p class="subhead-line">互联网科技与真人教学的完美融合</p>
                    </div>
                    <div class="tree-interact">
                        <img src="https://mh-resource.yinyuefengchao.com/www2001/two-in-one.png" alt="">
                    </div>
                    <div class="growth-system-btn">
                        <button class="growth-system-draw">免费领取体验课</button>
                    </div>
                </div> -->
                <!-- <div class="learning-result">
                    <div class="subhead">
                        <p class="subhead-music">4道关卡保证学习效果</p>
                        <div class="line"></div>
                    </div>
                    <div class="learning-result-fore">
                        <div class="learning-result-left">
                            <img src="https://mh-resource.yinyuefengchao.com/www2001/one-round.png" alt="">
                            <p class="learning-result-subhead">课上及时纠错</p>
                            <p class="learning-result-min">1对1私教更细心</p>
                            <img style="margin-top: 72px"
                                src="https://mh-resource.yinyuefengchao.com/www2001/three-round.png" alt="">
                            <p class="learning-result-subhead">每次练琴报告</p>
                            <p class="learning-result-min">满分or失误全程记录反馈</p>
                        </div>
                        <div class="learning-result-right">
                            <img src="https://mh-resource.yinyuefengchao.com/www2001/two-round.png" alt="">
                            <p class="learning-result-subhead">课后详细对话</p>
                            <p class="learning-result-min">老师与家长沟通学习情况</p>
                            <img style="margin-top: 72px"
                                src="https://mh-resource.yinyuefengchao.com/www2001/fore-round.png" alt="">
                            <p class="learning-result-subhead">阶段性测试</p>
                            <p class="learning-result-min">水平检测更有说服力</p>
                        </div>
                        <div class="growth-system-btn">
                            <button class="growth-system-draw">免费领取体验课</button>
                        </div>
                    </div>
                    <div class="customer-feedback">
                        <div class="subhead">
                            <p class="subhead-music-user">用户反馈</p>
                            <div class="line-user"></div>
                            <p class="subhead-line-user">学员多多（化名）正在练琴</p>
                            <div class="six-music">
                                <p>跟着音乐蜂巢学琴6个月</p>
                            </div>
                        </div>
                    </div>
                    <div class="stu-duoduo">
                        <video id="video" controls="controls"
                            poster="https://mh-resource.yinyuefengchao.com/www_m19/imgs/video_img.png">
                            <source src="https://mh-resource.yinyuefengchao.com/www_m19/practice_piano_video.mp4"
                                type="video/mp4">
                        </video>
                    </div>
                </div> -->
                <!-- <div class="parents-praise">
                    <div class="subhead">
                        <p class="subhead-music">家长好评</p>
                        <div class="line"></div>
                    </div>
                    <div class="wechat-img">
                        <img id="carouse" src="https://mh-resource.yinyuefengchao.com/www/WeChat1.png">
                    </div>
                </div> -->
                <!-- <div class="five-package">
                    <div class="subhead-five">
                        <p class="subhead-music-user">五步免费申请<br>体验套餐</p>
                        <div class="line-user"></div>
                    </div>
                    <div class="five-package-img">
                        <img src="https://mh-resource.yinyuefengchao.com/www2001/five-package.png" alt="">
                    </div>
                    <div class="growth-system-btn">
                        <button class="growth-system-draw">免费领取体验课</button>
                    </div>
                </div> -->
                <div class="music-box-bg">
                    <div class="music_form">
                        <img src="src/1v1.png">
                        <div class="free_get">
                            <img class="top" src="src/form_top.png" alt="">
                            <div class="form">
                                <input id="music_form_age" placeholder="请输入孩子年龄" type="text">
                                <input id="music_form_mobile" placeholder="请输入手机号码" type="text">
                            </div>
                            <img id="music_form_button" class="get_btn" src="src/get_btn.png" alt="">
                        </div>
                </div>
                <div class="pledge">
                    <div class="news">
                        <div class="top">
                            <div>
                                <em class="em1"></em>
                                <p class="h1title">音乐蜂巢</p>
                                <em class="em2"></em>
                            </div>
                            <img class="title_line" src="src/line.png" alt="">
                            <p class="descript">专注4-9岁少儿的音乐启蒙开创品牌</p>
                        </div>
                        <div class="bottom">
                            <div class="cell cell1">
                                <img src="src/icon1.png" alt="">
                                <ul>
                                    <li>
                                        <b>1</b>
                                        <p>11届全国艺术新星国际交流...</p>
                                        <i>11-17</i>
                                    </li>
                                    <li>
                                        <b>2</b>
                                        <p>11届全国艺术新星国际交流...</p>
                                        <i>11-17</i>
                                    </li>
                                    <li>
                                        <b>3</b>
                                        <p>11届全国艺术新星国际交流...</p>
                                        <i>11-17</i>
                                    </li>
                                    <li>
                                        <b>4</b>
                                        <p>11届全国艺术新星国际交流...</p>
                                        <i>11-17</i>
                                    </li>
                                    <li>
                                        <b>5</b>
                                        <p>11届全国艺术新星国际交流...</p>
                                        <i>11-17</i>
                                    </li>
                                    <li>
                                        <b>6</b>
                                        <p>11届全国艺术新星国际交流...</p>
                                        <i>11-17</i>
                                    </li>
                                </ul>
                            </div>
                            <div class="cell cell2">
                                <img src="src/icon2.png" alt="">
                                <ul>
                                    <li>
                                        <b>1</b>
                                        <p>11届全国艺术新星国际交流...</p>
                                        <i>11-17</i>
                                    </li>
                                    <li>
                                        <b>2</b>
                                        <p>11届全国艺术新星国际交流...</p>
                                        <i>11-17</i>
                                    </li>
                                    <li>
                                        <b>3</b>
                                        <p>11届全国艺术新星国际交流...</p>
                                        <i>11-17</i>
                                    </li>
                                    <li>
                                        <b>4</b>
                                        <p>11届全国艺术新星国际交流...</p>
                                        <i>11-17</i>
                                    </li>
                                    <li>
                                        <b>5</b>
                                        <p>11届全国艺术新星国际交流...</p>
                                        <i>11-17</i>
                                    </li>
                                    <li>
                                        <b>6</b>
                                        <p>11届全国艺术新星国际交流...</p>
                                        <i>11-17</i>
                                    </li>
                                </ul>
                            </div>
                            <div class="cell cell3">
                                <img src="src/icon3.png" alt="">
                                <ul style="border: none;">
                                    <li>
                                        <b>1</b>
                                        <p>11届全国艺术新星国际交流新星国际交流...</p>
                                        <i>11-17</i>
                                    </li>
                                    <li>
                                        <b>2</b>
                                        <p>11届全国艺术新星国际交流新星国际交流...</p>
                                        <i>11-17</i>
                                    </li>
                                    <li>
                                        <b>3</b>
                                        <p>11届全国艺术新星国际交流新星国际交流...</p>
                                        <i>11-17</i>
                                    </li>
                                    <li>
                                        <b>4</b>
                                        <p>11届全国艺术新星国际交流新星国际交流...</p>
                                        <i>11-17</i>
                                    </li>
                                    <li>
                                        <b>5</b>
                                        <p>11届全国艺术新星国际交流新星国际交流...</p>
                                        <i>11-17</i>
                                    </li>
                                    <li>
                                        <b>6</b>
                                        <p>11届全国艺术新星国际交流新星国际交流...</p>
                                        <i>11-17</i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                    <!-- <div class="pledge-three">
                        <div class="pledge-three-left">
                            <img src="https://mh-resource.yinyuefengchao.com/www2001/pledge-three-left.png" alt="">
                            <p class="pledge-subhead">先上课后付费</p>
                            <p class="pledge-subhead-min">免费领取试听课，试听满意在缴费</p>
                        </div>
                        <div class="pledge-three-center">
                            <img src="https://mh-resource.yinyuefengchao.com/www2001/pledge-three-center.png" alt="">
                            <p class="pledge-subhead">专属私教随心挑</p>
                            <p class="pledge-subhead-min">师资严选、均毕业于专业音乐学校；<br>匹配注定老师，不满意随时换</p>
                        </div>
                        <div class="pledge-three-right">
                            <img src="https://mh-resource.yinyuefengchao.com/www2001/pledge-three-right.png" alt="">
                            <p class="pledge-subhead">无理由退费</p>
                            <p class="pledge-subhead-min">30天内无理由退还全部学费</p>
                        </div>
                    </div> -->
                    <div class="company-scene">
                        <div class="top">
                            <div>
                                <em class="em1"></em>
                                <p class="h1title">音乐蜂巢公司实景</p>
                                <em class="em2"></em>
                            </div>
                            <img class="title_line" src="src/line.png" alt="">
                        </div>
                        <div class="bottom">
                            <img class="company_bg" src="src/company_bg.png" alt="">
                            <div class="company-scene-img">
                                <div><img src="https://mh-resource.yinyuefengchao.com/www2001/office-environment3.png" alt="">
                                </div>
                                <div><img src="https://mh-resource.yinyuefengchao.com/www2001/office-environment1.png" alt="">
                                </div>
                                <div><img src="https://mh-resource.yinyuefengchao.com/www2001/office-environment2.png" alt="">
                                </div>
                                <div><img src="https://mh-resource.yinyuefengchao.com/www2001/office-environment4.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="partner">
                        <img width="100%" src="src/partner.png" alt="">
                        <!-- <p class="subhead-collaborate">战略合作伙伴</p>
                        <p class="subhead-blue">考级机构</p>
                        <div class="line-bottom"></div>
                        <div class="examination">
                            <img src="https://mh-resource.yinyuefengchao.com/www2001/examination.png" alt="">
                        </div>
                        <p class="subhead-blue">音院高校</p>
                        <div class="line-bottom"></div>
                        <div class="famous-school">
                            <img src="https://mh-resource.yinyuefengchao.com/www2001/famous-school.png" alt="">
                        </div> -->
                    </div>
                    <div class="office-introduction">
                        <div class="office-introduction-content">
                            <div class="office-introduction-left">
                                <img class="logo" src="https://mh-resource.yinyuefengchao.com/www2001/yyfc-logo-with.png" alt="">
                                <p class="yyfc-content">
                                    音乐蜂巢，是专注4-9岁少儿的在线1对1钢琴教学专家。潜心3年研创独家动画剧情互动教学课堂，更适合孩子学习。5阶课程体系由央音教授级学科带头人、中法两国作曲家、台湾儿童心理学者等大师共同研发，接轨音协、英皇等级。通过AI智能科技及专利硬件，音乐蜂巢将学琴、练琴完美融合进一个APP，以专业全职师资为教学纽带，高效激发孩子学琴主动性，让家长省心省力，彻底粉碎传统方式学琴的痛苦。
                                </p>
                                <div class="phone-logo">
                                    <img src="https://mh-resource.yinyuefengchao.com/www2001/phone-logo.png" alt="">
                                    <p>400-188-9755</p>
                                </div>
                                <div class="office-time">
                                    <p>周一至周日9:00-20:00</p>
                                </div>
                                <div class="friend_url">
                                    <p>友情链接：<a href="https://www.yinyuefengchao.com/">少儿音乐培训</a><a href="https://www.yinyuefengchao.com/">音乐启蒙</a ></p>
                                </div>
                            </div>
                            <div class="office-introduction-line"></div>
                            <div class="office-introduction-center">
                                <div class="office-introduction-center-box">
                                    <p><a href="about.html?about=btn_2">致家长的一封信</a></p>
                                    <p><a href="about.html?about=btn_3">服务承诺</a></p>
                                    <p><a href="about.html?about=btn_4">隐私政策</a></p>
                                    <p><a href="about.html?about=btn_5">常见问题QA</a></p>
                                </div>
                            </div>
                            <div class="office-introduction-right">
                                <img src="src/code.png" alt="">
                                <!-- <div class="office-introduction-right-box">
                                    <div>
                                        <img id="image" src="src/about.png">
                                        <p>关注我们</p>
                                    </div>
                                    <div class="attention-user">
                                        <img src="https://mh-resource.yinyuefengchao.com/www2001/teacher-user.png" alt="">
                                        <p>课程咨询</p>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <div class="bottom-content" id="bottom-content">
                        <div>
                            <p>ICP许可证: <a id="icp" href="http://beian.miit.gov.cn/">辽ICP备17002816</a> | 京公网安备
                                21011202000407号 | 软著登字第3601927号 第3601927号 | <a href="business-license.html">营业执照</a> | 商标注册第28469606号 第28473115号
                            </p>
                            <!-- <p> | 网络安全投诉电话：010-2134-6418</p> -->
                        </div>
                    </div>

                </div>
                <div class="bottom-navigation" id="bottom-navigation">
                    <div class="bottom-navigation-fixed">
                        <div class="left">
                            <img class="bee" class="bottom-navigation-fixed-img"
                            src="src/bee.png" alt="">
                            <div class="free-cash">
                                <p>免费领取<span>￥398</span><br>在线1对1名师钢琴课一周套餐</p>
                            </div>
                        </div>
                        <div class=" user_form">
                            <div class="age-text">
                                <p>宝贝年龄</p>
                            </div>
                            <div class="bottom-inout">
                                <img id="age-ball" src="https://mh-resource.yinyuefengchao.com/www2001/age-ball.png" alt="">
                                <template>
                                    <el-select v-model="value" clearable placeholder="" id="bottom-age">
                                        <el-option v-for="item in options" :key="item.value" :label="item.label"
                                            :value="item.value" rows="30">
                                        </el-option>
                                    </el-select>
                                </template>
                            </div>
                            <div id="mobile">
                                <img class="phone-ball" id="yes-phone-ball"
                                    src="https://mh-resource.yinyuefengchao.com/www2001/yes-phone-ball.png" alt="">
                                <img class="phone-ball" id="phone-ball"
                                    src="https://mh-resource.yinyuefengchao.com/www2001/phone-ball.png" alt="">
                                <input id="bottom-mobile" type="text" onkeyup="this.value=this.value.replace(/\D/g,'')"
                                    onafterpaste="this.value=this.value.replace(/\D/g,'')" maxlength="11"
                                    placeholder=" 请输入您的手机号">
                                <input id="bottom-wx_id" type="text" maxlength="20" placeholder="请输入微信号或email"
                                    style="display:none">
                            </div>
                            <button id="bottom-btn">立即领取</button>
                        </div>
                    </div>
                </div>
                <div class="floating-window" id="floating-window">
                    <div class="floating-window-bg floating-window-bg-1">
                        <img src="https://mh-resource.yinyuefengchao.com/www2001/floating-window-bg.png" alt="">
                        <div class="floating-window-bg-div">
                            <div id="close-btn">
                                <img class="close-img" src="https://mh-resource.yinyuefengchao.com/www_m19/imgs/close.png"
                                    alt="">
                            </div>
                            <p>免费体验￥398<br>名师钢琴课一周套餐</p>
                            <div>
                                <template>
                                    <el-select v-model="value" placeholder="点击选择宝贝年龄" id="floating-window-age">
                                        <el-option v-for="item in options" :key="item.value" :label="item.label"
                                            :value="item.value">
                                        </el-option>
                                    </el-select>
                                </template>
                            </div>
                            <input id="floating-window-mobile" onkeyup="this.value=this.value.replace(/\D/g,'')"
                                onafterpaste="this.value=this.value.replace(/\D/g,'')" maxlength="11" type="text"
                                placeholder="输入手机号">
                            <input id="floating-window-wx_id" maxlength="20" type="text" placeholder="输入微信号或email"
                                style="display:none">
                            <div id="msg"
                                style="text-align: center;font-size: 12px;color: red;margin-top:5px;position: relative">
                            </div>
                            <button id="floating-window-btn">免费领取课程</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="succeed">
            <div class="succeed-bg">
                <img class="succeed-bg-big" src="https://mh-resource.yinyuefengchao.com/www2001/succeed-bg.png" alt="">
                <img class="succeed-close" src="https://mh-resource.yinyuefengchao.com/www2001/succeed-close.png" alt="">
                <p class="succeed-draw">领取成功</p>
                <p class="succeed-draw-content">
                    稍后您的专属顾问会和您联系。<br>如有问题也可拨打电话400-188-9755。<br>或添加音乐蜂巢官方客服微信，了解详情。<br>微信号：yyfcamy
                </p>
                <img class="teacher-ewm" src="https://mh-resource.yinyuefengchao.com/www2001/teacher-ewm.png" alt="">
            </div>
        </div>
    </div>
    <script src="pc/index.js" type="text/javascript"></script>
    <script src="phone/index.js" type="text/javascript"></script>
</body>
</html>