* {
    margin: 0px;
    padding: 0px;
}

body{
    background-color: white;
}

input{
    color: #000000;
}

input button {
    outline: none;
    border: 0;
}

input::-webkit-input-placeholder {
    color: #c6c7cb;
}

input:-moz-placeholder {
    color: #c6c7cb;
}

input::-moz-placeholder {
    color: #c6c7cb;
}

input:-ms-input-placeholder {
    color: #c6c7cb;
}

/*#app_draw{*/
/*    background-image: url("https://mh-resource.yinyuefengchao.com/www_m19/imgs/bottom_bot.png");*/
/*    height: auto;*/
/*    width: 100%;*/
/*    overflow: hidden;*/
/*    background-position: center center;*/
/*    background-repeat: no-repeat;*/
/*    background-size: cover;*/
/*    -webkit-background-size: cover;*/
/*}*/



.head_portrait {
    padding-top: 50px;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

#head_img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#draw_text_p {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

#draw_text_span {
    color: #e94256;
    font-size: 24px;
    font-weight: bold;
}

.draw_text {
    margin-top: 10px;
}

#draw_input_1 {
    width: 74%;
    margin-left: 10%;
    height: 40px;
    font-size: 16px;
    padding-left: 6%;
    border-radius: 25px;
    background-color: #f8f8f8;
    border-style: none;
    outline: none;
    color: #c6c7cb;
}

#draw_input_2 {
    width: 74%;
    margin-top: 20px;
    margin-left: 10%;
    height: 40px;
    font-size: 16px;
    padding-left: 6%;
    border-radius: 25px;
    background-color: #f8f8f8;
    border-style: none;
    outline: none;
    color: #c6c7cb;
}

#draw_input_3 {
    width: 34%;
    margin-top: 20px;
    margin-left: 10%;
    height: 40px;
    font-size: 16px;
    padding-left: 6%;
    border-radius: 25px;
    background-color: #f8f8f8;
    border-style: none;
    outline: none;
    color: #c6c7cb;
}


/*取消按钮隐藏*/
.el-date-editor .el-icon-circle-close {
    display: none;
}

.el-popper[x-placement^=bottom] {
    margin: 0 auto;
}

.el-picker-panel{
    width: 320px;
    margin: 0 auto;
    position: center;
    left: 0px;
}

.el-date-picker{
    width: 320px;
    margin: 0 auto;
    position: fixed;
    left: 0px;
    z-index: 9999;
}

.el-popper{
    width: 320px;
    margin: 0 auto;
    position: center;
    left: 0px
}

.draw_input {
    margin-top: 10px;
}

.el-input__prefix {
    margin-left: 85%;
    color: #ee7b30;
}

.el-input__inner {
    color: #c6c7cb;
    background-color: #f8f8f8;
    border-radius: 25px;
    border: 0;
    height: 40px;
    font-size: 16px;
    outline: none;
}

.block {
    width: 80%;
    margin-left: 10%;
    padding-top: 20px;
}

.el-date-editor.el-input {
    width: 100%;
}

.el-input--prefix .el-input__inner {
    padding-left: 8%;
}


@keyframes scaleDraw { /*定义关键帧、scaleDrew是需要绑定到选择器的关键帧名称*/
    0% {
        transform: scale(1); /*开始为原始大小*/
    }
    25% {
        transform: scale(1.1); /*放大1.1倍*/
    }
    50% {
        transform: scale(1);
    }
    75% {
        transform: scale(1.1);
    }
}

.main {
    width: 100%;
    position: relative;
}

.container_header {
    width: 100%;
}

#header {
    width: 100%;
}

#header_bg_image {
    width: 100%;
}

#header_white_image {
    width: 100%;
    position: relative;
}

#header_white_fit {
    text-align: center;
    margin-top: -77%;
    font-size: 24px;
}

#header_white_package {
    text-align: center;
    margin-top: -1%;
    font-size: 18px;
}

#header_white_package_1 {
    color: #fd3853;
}

#header_white_package_2 {
    color: #fd3853;
    font-size: 30px;
}

.quota_num{
    width: 100%;
    text-align: center;
    padding-top: 1%;
    color: #a9a9a9;
}

.date_quota{
    width: 80%;
    margin: 0 auto;
    position: absolute;
}

#quota{
    color: red;
}

#white {
    height: 290px;
    position: absolute;
    width: 100%;
    margin-top: -38%;
}

#header_age {
    position: absolute;
    margin: 25px 30px 0px 290px;
    font-size: 24px;
    color: white;
}

.what_piano {
    padding-top: 30%;
    height: 50px;
}

.p_piano {
    margin-top: 10px;
    text-align: center;
    font-size: 28px;
}

.one_stop {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
}

#one_stop_precept {
    width: 100%;
}

.tradition {
    padding: 20px 0 40px 0;
    width: 80%;
    margin: 0 auto;
}

#tradition_vexed {
    width: 100%;
}

.carousel_piano {
    width: 100%;
    margin-top: 20px;
}

.button_piano {
    width: 100%;
    margin-top: 30px;
}

.button_bespeak_piano {
    width: 80%;
    margin-left: 10%;
    height: 50px;
    color: white;
    background-color: #ff5c36;
    font-size: 18px;
    border-radius: 50px;
    outline: none;
    border: white;
    background-size: 10px 20px;
    -webkit-animation-name: scaleDraw; /*关键帧名称*/
    -webkit-animation-timing-function: ease-in-out; /*动画的速度曲线*/
    -webkit-animation-iteration-count: infinite; /*动画播放的次数*/
    -webkit-animation-duration: 3s; /*动画所花费的时间*/
}

.mobile_input{
    margin-top: 12%;
    position: absolute;
    width: 74%;
    /*margin-top: 20px;*/
    margin-left: 10%;
    height: 40px;
    font-size: 16px;
    padding-left: 6%;
    border-radius: 25px;
    background-color: #f8f8f8;
    border-style: none;
    outline: none;
    color: #c6c7cb;
}

.button_bespeak_piano1 {
    margin-top: 25%;
    width: 80%;
    margin-left: 10%;
    height: 50px;
    color: white;
    background-color: #ff5c36;
    font-size: 18px;
    border-radius: 50px;
    outline: none;
    border: white;
    background-size: 10px 20px;
    -webkit-animation-name: scaleDraw; /*关键帧名称*/
    -webkit-animation-timing-function: ease-in-out; /*动画的速度曲线*/
    -webkit-animation-iteration-count: infinite; /*动画播放的次数*/
    -webkit-animation-duration: 3s; /*动画所花费的时间*/

}

.el-carousel__item img {
    width: 100%;
}

.el-carousel {
    border-radius: 10px;
}

.tradition_piano {
    width: 100%;
    margin-top: 50px;
}

.growth_system {
    width: 100%;
    margin-top: 25px;
}

.growth_system_children {
    text-align: center;
    color: #cdcdcd;
}

#five_children {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
}

.carousel_L {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
}

#el_height {
    height: 160px;
}

.research {
    padding-top: 20px;
    width: 80%;
    margin: 0 auto;
}

#research_img {
    width: 100%;
}

.teacher {
    padding-top: 20px;
}

.specialty {
    padding-top: 20px;
    width: 80%;
    margin: 0 auto;
}

#specialty_img {
    width: 100%;
}

.child {
    margin-top: 20px;
}

#child_yuan {
    text-align: center;
    color: #cdcdcd;
}

.video {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
}

#video {
    width: 100%;
    border-radius: 10px;
}

.five {
    width: 80%;
    margin: 0 auto;
    padding-top: 30px;

}

#five_five {
    width: 100%;
}

#report_span {
    font-size: 18px;
    color: #cdcdcd;
}

.report {
    padding-bottom: 20px;
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
}

#report_img {
    width: 100%;
}

.bottom {
    left: 0;
    position: fixed;
    bottom: 0;
    z-index: 9999;
    width: 100%;
    height: 50px;
}

.bottom-1 {
    border-radius: 25px;
    position: relative;
    width: 90%;
    height: 50px;
    margin: 0 auto;
    background-color: #fed651;
}

.bottom_jump {
    margin-left: 15px;
    margin-top: -30px;
    position: absolute;
    width: 40px;
    height: 200px;
}

.bottom_fiy {
    margin: 0 auto;
    padding-top: 6px;
    position: absolute;
    width: 80%;
    height: 50px;
}

#bottom_p {
    text-align: center;
    font-size: 14px;
    margin-top: 1px;
    color: #535252;
    margin-left: 6px;
}

#bottom_p1 {
    text-align: center;
    font-size: 10px;
    margin-top: 1px;
    color: #535252;
    margin-left: 6px;
}

.bottom_btn {
    position: relative;
    width: 100%;
    height: 42px;
}

.bottom-button {
    float: right;
    background-color: #ff5c36;
    color: white;
    margin-top: 7px;
    width: 30%;
    height: 36px;
    border: 0 solid;
    outline: none;
    margin-right: 8px;
    margin-left: 10%;
    font-size: 14px;
    border-radius: 50px;
    border: white;
    background-size: 10px 20px;
    -webkit-animation-name: scaleDraw; /*关键帧名称*/
    -webkit-animation-timing-function: ease-in-out; /*动画的速度曲线*/
    -webkit-animation-iteration-count: infinite; /*动画播放的次数*/
    -webkit-animation-duration: 3s; /*动画所花费的时间*/
}

#zw {
    width: 100%;
    height: 5px;
    border-bottom: #cdcdcd 1px solid;
}

.bottom_bot {
    z-index: 9999;
    background-color: #FFFFFF;
    list-style-type: none;
    height: 70px;
    line-height: 100px;
    padding-left: 18%;
    margin-bottom: 0px
}

.bottom_bot-li1 {
    float: left;
    width: 20%;
    background-color: #FFFFFF;
    height: 50px;
    line-height: 100px
}

.bottom_bot-div1 {
    width: 100%;
    height: 35px;
    line-height: 60px
}

.bottom_bot-div2 {
    position: absolute;
    font-size: 15px;
    height: 15px;
    line-height: 30px
}

.bottom_bot-li2 {
    margin-left: 40%;
    float: left;
    width: 62px;
    height: 50px;
    background-color: #FFFFFF;
    height: 50px;
    line-height: 100px;
    text-align: center;
}

.bottom_bot-div3 {
    width: 100%;
    height: 35px;
    line-height: 60px
}

.bottom_bot-div4 {
    color: #d5d5d5;
    font-size: 15px;
    height: 15px;
    line-height: 30px
}

#code_btn{
    width: 39%;
    height: 40px;
    border-radius: 25px;
    background-color: white;
    border: #ed6943 1px solid;
    outline: none;
    color: #ed6943;
}

.button_btn{
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
}

#button_btn{
    width: 100%;
    height: 40px;
    border-radius: 25px;
    background-color: #ed6943;
    border-style: none;
    outline: none;
    color: white;
}

#age-p{
    text-align: center;
    font-size: 12px;
    color: #9b9b9b;
    margin-top: 10px;
}

#bottom_img{
    width: 100%;
}

#deal2 {
    display: none;
    height: auto;
    padding: 20px auto;
    width: 90%;
    margin-top: -450px;
    margin-left: 5%;
    position: absolute;
    z-index: 2;
    background: white;
}

#over {
    width: 100%;
    height: 100%;
    filter: alpha(opacity=80);
    display: none;
    position: absolute;
    margin: 0 auto;
    top: 0;
    left: 0;
    z-index: 1;
    background: white;
}

.service_agreement {
    padding-top: 0px;
    color: #cdcdcd;
    width: 80%;
    height: 24px;
    margin: 0 auto;
}

.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    border-radius: 25px;
    background-color: #f4f4f4;
    margin-top: 70%;
    margin-left: 10%;
    width: 80%;
    height: 85px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
    animation-name: modalopen;
    animation-duration: 1s;
}

@keyframes modalopen {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

#modal_content_p{
    text-align: center;
    padding-top: 30px;
    font-size: 20px;
}

#close_btn{
    padding-top: 20px;
    text-align: center;
}

#close_btn_img{
    width: 50px;
    height: 50px;
}

#form_lession input{
    ime-mode:disabled;
}