* {
    margin: 0;
    border: 0;
    font-family: "Microsoft YaHei", 微软雅黑;
}
.pc{
    min-width: 1200px;
    width: 100%;
    /* overflow-x: hidden; */
}

ul, li, img {
    list-style-type: none;
}
img{
    border: none;
}

em,
i,
cite {
    font-style: normal;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

strong,
b {
    font-weight: normal;
}

input:focus,
textarea:focus {
    outline: 0 none;
}

a {
    text-decoration: none;
    color: black;
}

input, button, video {
    outline: none;
    border: 0;
}

.main {
    width: 100%;
}

.nav {
    width: 100%;

}

.title {
    z-index: 9999;
    top: 0;
    position: fixed;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 128px 0 5%;
    box-sizing: border-box;
}
.title .logo{
    width: 15%;
}

.title ul{
    width: 55%;
    background: url(../src/nav_bg.png)  100% 100%;
    background-size: 100% 100%;
    height: 60px;
}

#home {
    margin-left: 150px;
}
.title-dh{
    height: 60px;
    padding: 0 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* .title-dh li {
    float: left;
    padding: 0 30px;
} */

.title-dh img {
    float: left;
    padding: 15px 25px 15px 20px;
}

.title-dh li {
    cursor: pointer;
    font-size: 20px;
    color: #fff;
}
.title-dh li.cur{
    position: relative;
}
.title-dh li.cur:after{
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 5px;
    border-radius: 3px;
    content: '';
    background: #fff;
}
.nav.white .title{
    background: white !important;
}
.nav.white ul{
    background: none !important;
}
.nav.white li {
    color: #333 !important;
}
.nav.white li.cur:after{
    background: #333 !important;
}

#sy {
    margin-left: 137px;
    margin-top: -10px;
}

.title-img {
    margin-left: 10px;
    margin-top: -10px;
}

#home {
    color: #FFFFFF;
}

.right-fixed {
    z-index: 200;
    right: -90px;
    position: fixed;
    width: 144px;
    height: 270px;
    /*background-color: #c1e2b3;*/
}

.right-fixed-popup {
    z-index: 200;
    display: none;
    right: 140px;
    position: fixed;
    bottom: 0;
    width: 144px;
    height: 278px;
    /*background-color: #c7254e;*/
}

#right-about {
    -webkit-border-top-left-radius: 30px;
    -webkit-border-bottom-left-radius: 30px;
    width: 100%;
    height: 60px;
    background-color: #a6a6a6;
    border: 2px solid rgba(166, 166, 166, 0.38);
}

.right-fixed-logo {
    padding-left: 20px;
    margin-top: 16px;
}

.right-fixed-font {
    text-align: center;
    margin: -30px 0 0 35px;
    font-size: 18px;
    color: #ffffff;
}

#right-refer {
    margin-top: 10px;
    -webkit-border-top-left-radius: 30px;
    -webkit-border-bottom-left-radius: 30px;
    width: 100%;
    height: 60px;
    background-color: #fb6c61;
    border: 2px solid rgba(251, 108, 97, 0.38);
}

#right-download {
    margin-top: 10px;
    -webkit-border-top-left-radius: 30px;
    -webkit-border-bottom-left-radius: 30px;
    width: 100%;
    height: 60px;
    background-color: #68a3ff;
    border: 2px solid rgba(104, 163, 255, 0.38);
}

#right-phone {
    margin-top: 10px;
    -webkit-border-top-left-radius: 30px;
    -webkit-border-bottom-left-radius: 30px;
    width: 100%;
    height: 60px;
    background-color: #ffaa3c;
    border: 2px solid rgba(255, 170, 60, 0.38);
}

#about-popup {
    display: none;
    width: 100%;
    height: 70px;
    /*background-color: #0b2e13;*/
}

#download-popup {
    margin-top: 120px;
    display: none;
    width: 100%;
    height: 70px;
    /*background-color: #00ffff;*/
}

#phone-popup {
    margin-top: 180px;
    display: none;
    width: 100%;
    height: 70px;
    /*background-color: #0000ff;*/
}

.attention-imgs {
    width: 100%;
    margin-top: -24px;
}

.download-imgs {
    width: 100%;
    margin-top: 5px;
}

.phone-imgs {
    width: 100%;
    margin-top: 55px;
}

#phone-text {
    font-size: 20px;
    color: #333333;
    z-index: 2;
}

.home-page {
    width: 100%;
    /* height: 2300px; */
    /*background-color: #0f6674;*/
}

.home-page-first {
    width: 100%;
    position: relative;
    /* background-color: #0f6674;
    background: url("../src/banner.png") 100% 100% no-repeat; */
    overflow: hidden;
    /* background-size: 100%; */
    /* -webkit-background-size: cover;
    -moz-background-size: cover; */
}
.home-page-first .banner{
    width: 100%;
    
}

.home-page-stu {
    width: 1295px;
    height: 650px;
    margin: 0 auto;
    /*background-color: #0f6674;*/
}

#girl-student {
    padding-top: 107px;
    padding-left: 50px;
    position: absolute;
    width: 1200px;
}

#receive-experience-class {
    position: absolute;
}

#bofei-class {
    position: absolute;
    right: 12%;
    top: 150px;
    /* width: 17%; */
    width: 184px;
    height: 231px;
    /* background: url(src/free_get.png) 100% 100%;
    background-size: 100% 100%; */
}
#bofei-class .free_get{
    width: 100%;
}
#bofei-class .get_btn{
    position: absolute;
    width: 149px;
    height: 59px;
    left: 50%;
    margin-left: -74.5px;
    bottom: 0;
}

.subhead {
    margin-top: 72px;
    position: relative;
}

.extraordinary {
    width: 100%;
    height: 850px;
    margin: 0 auto;
    /*background-color: #f78989;*/
}

.subhead-music {
    font-size: 60px;
    color: #484848;
    text-align: center;
    padding-bottom: 20px;
}

.line {
    width: 54px;
    height: 8px;
    border-radius: 4px;
    background-color: #fe5f4d;
    margin: 0 auto;
}

.subhead-line {
    color: #5d5d5d;
    font-size: 36px;
    padding-top: 40px;
    text-align: center;
}

.expert-teacher {
    margin-top: 25px;
    position: relative;
    width: 100%;
    /* width: 1300px;
    height: 395px; */
    /*background-color: yellow;*/
}

.el-carousel .el-carousel--horizontal .el-carousel--card {
    width: 1500px;
    margin: 0 auto;
}

.medium {
    width: 370px;
    height: 464px;
}

.el-carousel__mask {
    /* width: 464px;
    height: 370px; */
}
.el-carousel.el-carousel--horizontal.el-carousel--card{
    width: 756px;
    margin: 0 auto;
    /* margin-left: 20%; */
    margin-top: 30px;
}

.el-carousel__button {
    width: 32px;
    height: 12px;
    border-radius: 6px;
    margin: 0 10px;
    background-color: #fd7a49;
}

.el-carousel__indicators--outside button {
    /*background-color: #dedede;*/
}

.el-carousel__indicator.is-active button {
    background-color: #5eaeff;
}

.traditional-teaching-left {
    float: left;
}

.traditional-teaching-center {
    float: left;
}

.traditional-teaching-right {
    float: left;
}

.three-extraordinary {
    width: 1295px;
    padding-top: 72px;
    margin: 0 auto;
    /*background-color: #0f6674;*/
    padding-bottom: 200px;
}

.extraordinary-left {
    float: left;
    width: 50%;
}

.extraordinary-center {
    float: left;
    width: 380px;
    margin-left: 75px;
}

.extraordinary-right {
    float: left;
    width: 50%;
    /* margin-left: 75px; */
}

.three-extraordinary-subhead {
    font-size: 30px;
    color: #484848;
    text-align: center;
    margin: 26px 0 30px 0;
}

.three-extraordinary-content {
    font-size: 20px;
    color: #afafaf;
    text-align: center;
}

.titleBox{
    margin-left: 25%;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.lineTitle-center{
    float: left;
    font-size: 30px;
    color: #484848;
    text-align: center;
    margin: 26px 0 30px 0;
}

.lineTitle-line-left{
    float: left;
    width: 54px;
    height: 8px;
    border-radius: 4px;
    background-color: #fe5f4d;
    margin: 0 0 0 10px;
}

.lineTitle-line-right{
    float: left;
    width: 54px;
    height: 8px;
    border-radius: 4px;
    background-color: #fe5f4d;
    margin: 0 10px 0 0;
}

.traditional-teaching {
    width: 100%;
    height: 830px;
    clear: left;
    background-color: #f8f8f8;
    padding-top: 1px;
}

.traditional-teaching-vs {
    width: 1180px;
    height: 790px;
    margin: 0 auto;
    padding-top: 72px;
    /*background-color: #0b2e13;*/
}

.traditional-teaching-vs ul {
    display: none;
}

.traditional-teaching-vs button {
    width: 50px;
    height: 50px;
    margin-top: -150px;
    color: #68a3ff;
    font-size: 20px;
    background-color: #FFFFFF;
}

.lb-img {
    width: 920px;
    height: 385px;
    margin: 0 auto;
}

.lb-img img {
    width: 920px;
    height: 385px;
}

.curriculum-structure-page {
    width: 100%;
    /* height: 1198px; */
    margin-top: 30px;
    padding-top: 72px;
    /*background-color: #2e3436;*/
}

.growth-system {
    width: 1092px;
    margin: 0 auto;
    padding-top: 72px;
    /*background-color: #f78989;*/
}

.growth-system-btn {
    width: 380px;
    margin: 0 auto;
}

.growth-system-draw {
    width: 380px;
    height: 80px;
    background-color: #ff6b38;
    font-size: 34px;
    color: #ffffff;
    border-radius: 40px;
    position: relative;
}

.expert-page {
    width: 100%;
    /* height: 1000px; */
    padding-top: 1px;
}
.el-carousel__indicators--outside button{
    width: 12px;
    height: 12px;
    border-radius: 6px;
}
.el-carousel__indicator.is-active button{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: #ff8d15;
}
.down {
    width: 28px;
    height: 25px;
    margin: 0 auto;
    margin-top: 46px;
    margin-bottom: 12px;
}

.teacher-bg {
    position: absolute;
    margin-left: 4.5%;
    margin-top: 200px;
    background-color: #f8f8f8;
}

.teacher-bg {
    background-color: #f8f8f8;
}

.teacher-page {
    width: 100%;
    margin-top: 68px;
    /*background-color: #9fcdff;*/
}
.teacher-page img{
    width: 100%;
}
.teacher-staff {
    width: 1300px;
    height: 700px;
    margin: 0 auto;
}

.teacher-zhuzhu {
    position: absolute;
}

.teacher-shidaomen {
    margin-left: 530px;
}

.subhead-music-staff {
    font-size: 60px;
    color: #484848;
    padding-bottom: 20px;
}

.line-staff {
    width: 54px;
    height: 8px;
    border-radius: 4px;
    background-color: #fe5f4d;
}

.subhead-line-staff {
    color: #5d5d5d;
    font-size: 36px;
    padding-top: 40px;
}

.teacher-shidaomen img {
    margin-top: 20px;
}

.two-in-one {
    width: 100%;
    height: 1150px;
    background-color: #f8f8f8;
    padding-top: 1px;
}

.two-in-one img {
    width: 1295px;
    margin-top: 72px;
}

.tree-interact {
    width: 1295px;
    margin: 0 auto;
}

.learning-result-fore {
    width: 1260px;
    margin: 0 auto;
    padding-top: 72px;
}

.learning-result-left {
    float: left;
}

.learning-result-right {
    float: left;
    padding-left: 48px;
}

.learning-result-subhead {
    font-size: 26px;
    color: #484848;
    text-align: center;
    margin: 24px 0 16px 0;
}

.learning-result-min {
    font-size: 18px;
    color: #afafaf;
    text-align: center;
}

.customer-feedback {
    width: 100%;
    height: 780px;
    margin-top: 100px;
    background-color: #feb930;
    background-image: url("https://mh-resource.yinyuefengchao.com/www2001/user-img.png");
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
}

.subhead-music-user {
    font-size: 60px;
    color: #FFFFFF;
    text-align: center;
    padding-bottom: 20px;
}

.line-user {
    width: 54px;
    height: 8px;
    border-radius: 4px;
    background-color: #FFFFFF;
    margin: 0 auto;
}

.subhead-line-user {
    color: #FFFFFF;
    font-size: 36px;
    padding: 40px 0 24px 0;
    text-align: center;
}

.six-music {
    width: 394px;
    height: 72px;
    background-color: #ed9329;
    color: #FFFFFF;
    font-size: 32px;
    border-radius: 36px;
    margin: 0 auto;
}

.six-music p {
    text-align: center;
    padding-top: 13px;
}

.stu-duoduo {
    width: 736px;
    height: 406px;
    position: relative;
    margin-top: -330px;
    /*margin-left: 26%;*/
    /*margin: 0 auto;*/
    /*background-color: #fd7a49;*/
    border-radius: 50px;
}

#video {
    width: 55%;
    border-radius: 50px;
}

.parents-praise {
    width: 100%;
    height: 722px;
    /*background-color: #f78989;*/
}

.wechat-img {
    width: 1295px;
    height: 440px;
    padding-top: 72px;
    margin: auto;
    text-align: center;
}

.five-package {
    width: 100%;
    height: 850px;
    background-color: #feb62e;
}

.subhead-five {
    padding-top: 72px;
}

.five-package-img {
    width: 1086px;
    margin: 0 auto;
    padding-top: 72px;
}

.pledge {
    width: 100%;
    height: 572px;
    /*background-color: #1e7e34;*/
}

.pledge-three {
    width: 1120px;
    height: 382px;
    padding-top: 72px;
    margin: 0 auto;
}

.pledge-three img {
    margin-left: 80px;
}

.pledge-three-left {
    width: 300px;
    float: left;
}

.pledge-three-center {
    width: 320px;
    float: left;
    margin-left: 100px;
}

.pledge-three-right {
    width: 300px;
    float: left;
    margin-left: 100px;
}

.pledge-subhead {
    font-size: 30px;
    text-align: center;
    margin-top: 26px;
    color: #484848;
}

.pledge-subhead-min {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    color: #afafaf;
}

.company-scene {
    width: 100%;
    height: 700px;
    padding-top: 1px;
}

.company-scene-img {
    position: absolute;
    width: 76.8%;
    margin: 0 auto;
    height: 357px;
    top: 0;
    left: 11.6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-top: 72px; */
    /*background-color: #1e7e34;*/
}

.company-scene-img div {

    width: 23.5%;
    /* width: 312px; */
    /* height: 260px; */
    /* margin: 0 8px; */
    border-radius: 25px;
    /* float: left; */
    overflow: hidden;
    /*background-color: #5d5d5d;*/
}

.address {
    width: 550px;
    margin: 0 auto;
    padding-top: 40px;
}

.address p {
    text-align: center;
    font-size: 20px;
    color: #484848;
}

.partner {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 72px;
}
.partner img{
    width: 100%;
}

.subhead-collaborate {
    font-size: 60px;
    color: #484848;
    text-align: center;
    padding-top: 100px;
}

.subhead-blue {
    font-size: 30px;
    color: #6bb8ff;
    text-align: center;
    padding-top: 72px;
    padding-bottom: 24px;
}

.line-bottom {
    width: 54px;
    height: 8px;
    border-radius: 4px;
    background-color: #ececec;
    margin: 0 auto;
}

.examination {
    width: 466px;
    margin: 0 auto;
    padding-top: 40px;
}

.famous-school {
    width: 862px;
    margin: 0 auto;
    padding-top: 40px;
}

.music-box-bg {
    width: 100%;
    background-size: 100%;
    margin: 0 auto;
}
.music-box-bg .music_form{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.music-box-bg .music_form .free_get{
    position: absolute;
    width: 19%;
    z-index: 3;
    padding-bottom: 10px;
    right: 15%;
    background: #fff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.music-box-bg .music_form .free_get .top{
    width: 74% !important;
    margin-top: 15px;
}
.music-box-bg .music_form .free_get .form{
    width: 65%;
    margin-top: 20px;
}
.music-box-bg .music_form .free_get .form input{
    width: 100%;
    background: #f2f2f2;
    border: none;
    outline: none;
    border-radius: 5px;
    height: 39px;
    margin-bottom: 10px;
    padding-left: 15px;
    box-sizing: border-box;
}
.music-box-bg .music_form .free_get .form .phone_input{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
    align-items: center;
}
.music-box-bg .music_form .free_get .form .phone_input input{
    width: 70%;
    margin-bottom: 0 !important;
}
.music-box-bg .music_form .free_get .form .phone_input img{
    width: auto !important;
    height: 20px ;
}
.music-box-bg .music_form .free_get .get_btn{
    width: 60%;
    margin-top: 10px;
}
.music-box-bg img{
    width: 100%;
}


.office-introduction {
    width: 100%;
    overflow: hidden;
    height: 554px;
    background-color: #333333;
}

.office-introduction-content {
    width: 100%;
    height: 482px;
    padding-top: 72px;
    display: flex;
    padding-left: 9%;
    padding-right: 9%;
    display: flex;
    /*background-color: #1e7e34;*/
}

.office-introduction-left {
    width: 32%;
    /* height: 482px; */
    /*background-color: #f78989;*/
}
.office-introduction-left .logo{
    width: 110px;
}

.yyfc-content {
    /* width: 452px;
    height: 157px; */
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 48px;
}

.phone-logo {
    margin-top: 48px;
    overflow: hidden;
}

.phone-logo img {
    width: 44px;
    float: left;
}

.phone-logo p {
    float: left;
    font-size: 30px;
    color: #FFFFFF;
    margin-left: 24px;
}

.office-time {
    clear: left;
    width: 195px;
    height: 50px;
    margin: 0 auto;
    border-radius: 25px;
    margin-left: 66px;
    margin-top: 14px;
    /*background-color: #282828;*/
}

.office-time p {
    text-align: center;
    font-size: 20px;
    color: #FFFFFF;
    padding-top: 10px;
    background: #282828;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 14px;
}

.friend_url p {
    text-align: left;
    font-size: 14px;
    color: #545454;
    margin-top: 27px;
}
.friend_url p a{
    color: #545454;
    
    margin-right: 10px;
}
.friend_url p a:hover{
    color: #fff;
}
.office-introduction-line {
    width: 1px;
    height: 349px;
    float: left;
    margin: 90px 72px 0 72px;
    background-color: #282828;
}

.office-introduction-center {
    width: 252px;
    height: 482px;
    float: left;
    /*background-color: #0f6674;*/
}

.office-introduction-center p {
    padding-top: 20px;
}

.office-introduction-center-box {
    margin-top: 90px;
}

.office-introduction-center-box a {
    color: #FFFFFF;
}

.office-introduction-right {
    width: 19%;
    float: right;
    /*background-color: #3c7500;*/
}
.office-introduction-right img{
    width: 100%;
    margin-top: 100px;
}

/* .office-introduction-right-box {
    margin-top: 130px;
}

.attention-user {
    margin-left: 20px;
}

.office-introduction-right-box div {
    float: left;
}

.office-introduction-right-box img {
    width: 129px;
}

.office-introduction-right-box p {
    text-align: center;
    margin-top: 16px;
    color: #FFFFFF;
} */

.bottom-content {
    width: 100%;
    height: 80px;
    background-color: #3d3d3d;
    padding-bottom: 65px;
}

.bottom-content div {
    width: 100%;
    margin: 0 auto;
}

.bottom-content p {
    color: #FFFFFF;
    text-align: center;
    line-height: 66px;
    font-size: 16px;
    padding-top: 6px;
}

.bottom-content a {
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    padding-top: 20px;
    border-bottom: 1px #FFFFFF solid
}

.bottom-navigation {
    width: 100%;
    height: 65px;
    background-color: #575757;
    position: fixed;
    bottom: 0;
    z-index: 2000;
}

.bottom-navigation-fixed {
    width: 100%;
    height: 65px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    box-sizing: border-box;
    /* background:url(../src/bottom_float_bg.png) 100% 100% no-repeat;
    background-size: 100%; */
    /* position: relative; */
}
.bottom-navigation-fixed .bee{
    position: absolute;
    bottom: 10px;
    width: 92px;
    height: 164px;
    left: 0;
}
.bottom-navigation-fixed .left{
    position: relative;
    padding-left: 100px;
    display: flex;
    align-items: center;
}
.bottom-navigation-fixed>div{
    display: flex;
}
.bottom-navigation-fixed .user_form{
    display: flex;
    align-items: center;
}
.bottom-navigation-fixed .user_form{
    height: 65px;
}

.bottom-navigation-fixed button {
    /* float: left; */
    width: 180px;
    height: 40px;
    border-radius: 35px;
    margin-left: 20px;
    background-color: #f69705;
    /* margin-top: 142px; */
    font-size: 20px;
    color: #FFFFFF;
}

.bottom-navigation-fixed div {
    /* float: left; */
}
.free-cash{
    display: flex;
    flex-direction: column;
}
.free-cash p {
    font-size: 18px;
    color: #FFFFFF;
}

.free-cash span {
    font-size: 20px;
    color: #eae758;
}

.bottom-navigation-fixed-img {
    margin-top: -150px;
    width: 100%;
    float: left;
}

.age-text {
    font-size: 18px;
    color: #FFFFFF;
    /* padding-top: 151px;
    padding-left: 500px; */
}

#age-ball {
    width: 193px;
    height: 51px;
    position: absolute;
    margin-left: -20px;
    margin-top: 60px;
    display: none;
}

.phone-ball {
    width: 193px;
    height: 30px;
    position: absolute;
    margin-left: 60px;
    margin-top: 0px;
    display: none;
}

.bottom-inout input {
    text-align: center;
}

.bottom-age /deep/ input {
    font-size: 30px;
    text-align: center;
}

.el-icon-arrow-up:before {
    color: #6bb8ff;
}

.el-select-dropdown .el-popper {
    top: 330px;
}

.el-select .el-input.is-focus .el-input__inner {
    border-color: #FFFFFF;
    text-align: center;
    font-size: 30px;
}

.el-select > .el-input {
    text-align: center;
    font-size: 30px;
}

.el-select .el-input__inner:focus {
    border-color: #FFFFFF;
}

.el-select {
    width: 130px;
    margin-left: 8px;
}

.el-select input {
    height: 40px;
    border-radius: 35px;
}

#mobile input {
    width: 250px;
    height: 40px;
    border-radius: 35px;
    margin-left: 20px;
    padding-right: 40px;
    font-size: 16px;
    text-align: center;
    color: #c6c6c6;
}

.floating-window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2001;
    display: none;
}

.el-select .el-input__inner:focus {
    border: none;
}

.el-select .el-input.is-focus .el-input__inner {
    border: none;
    font-size: 20px;
}

.el-input__inner {
    border: none;
}

.el-popper[x-placement^=bottom] {
    margin-left: 100px;
    text-align: center;
}

.floating-window-bg {
    width: 588px !important;
    height: 573px;
    padding-top: 2%;
    /*background-color: #f78989;*/
    margin: 0 auto;
}
.floating-window-bg img{
    width: 588px !important;
}

.floating-window-bg-1 {
    padding-top: 2%;
}

.floating-window-bg img {
    position: absolute;
    z-index: 0;
}

.floating-window-bg input {
    text-align: center;
    font-size: 20px;
    color: rgb(169, 169, 169);
    position: relative;
    width: 337px;
    height: 48px;
    border-radius: 24px;
    z-index: 990;
    background-color: rgb(229, 229, 229);
}

.floating-window-bg button {
    position: relative;
    width: 337px;
    height: 48px;
    border-radius: 24px;
    font-size: 25px;
    z-index: 990;
    background-color: rgb(241, 112, 80);
    color: rgb(255, 255, 255);
    margin-left: 20px;
    margin-top: 5px;
}

.floating-window-bg-div {
    width: 377px;
    margin: 0 auto;
    padding-top: 200px;
}

.floating-window-bg p {
    position: relative;
    text-align: center;
    font-size: 30px;
    color: rgb(23, 63, 109);
}

#floating-window-age {
    margin-top: 24px;
    margin-left: 10px;
    /*color: #acacac;*/
    text-align: center;
}

#floating-window-mobile::-webkit-input-placeholder {
    /* placeholder颜色  */
    color: #afafaf;
    text-align: center;
}
#floating-window-wx_id::-webkit-input-placeholder {
    /* placeholder颜色  */
    color: #afafaf;
    text-align: center;
}

#floating-window-age::-webkit-input-placeholder {
    /* placeholder颜色  */
    color: #afafaf;
    text-align: center;
}


#floating-window-mobile {
    margin-top: 12px;
    margin-left: 20px;
}

#floating-window-wx_id{
    margin-top: 12px;
    margin-left: 20px;
}

#close-btn {
    position: absolute;
    z-index: 2000;
    width: 35px;
    height: 35px;
    margin-left: 375px;
    margin-top: -110px;
    /*margin: 0 auto;*/
}
#close-btn img{
    width: 35px !important;
    height: 35px !important;
}
.close-img {
    width: 35px;
    height: 35px;
}

.succeed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 99999;
    display: none;
}

.succeed-bg {
    width: 444px;
    margin: 0 auto;
    padding-top: 5%;
}

.succeed-bg-big {
    position: absolute;
}

.succeed-close {
    margin-left: 415px;
    margin-top: 130px;
    position: relative;
}

.succeed-draw {
    color: rgb(57, 57, 57);
    position: relative;
    text-align: center;
    font-size: 30px;
}

.succeed-draw-content {
    color: rgb(57, 57, 57);
    position: relative;
    font-size: 18px;
    padding-left: 50px;
    padding-top: 20px;
}

.teacher-ewm {
    position: relative;
    padding-top: 20px;
    padding-left: 150px;
}

.video_box,.news,.company-scene,.expert-page{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top div{
    display: flex;
    align-items: center;
    /* width: 23%; */
    justify-content: space-between;
}
.top div em{
    display: inline-block;
    width: 28px;
    height: 5px;
    border-radius: 3px;
    background: #ff5d4a;
}
.em1{
    margin-right: 24px;
}
.em2{
    margin-left: 24px;
}
.top .h1title{
    font-size: 34px;
    color: #4d4d4d;
}
.top .title_line{
    width: 37%;
    margin-top: 30px;
}
.top .descript{
    color: #bcbcbc;
    margin-top: 12px;
    font-size: 24px;
}
.video_box{
    margin-top: 77px;
    padding: 0 200px;
    box-sizing: border-box;
}
.video_box .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    width: 100%;
    margin-bottom: 20px;
}
.video_box .bottom .left{
    width: 40%;
}
.video_box .bottom .left div{
    margin-bottom: 36px;
    width: 100%;
}
.video_box .bottom .left div:last-child{
    margin-bottom: 0;
}
.video_box .bottom .left h1{
    font-size: 16px;
    color: #4b4b4b;
    font-weight: normal;
    width: 100%;
    margin-left: -8px;
}
.video_box .bottom .left b{
    font-weight: normal;
}
.video_box .bottom .left h1 b.b1{
    color: #F39800;
}
.video_box .bottom .left h1 b.b2{
    color: #d7572a;
}
.video_box .bottom .left p{
    margin-top: 11px;
    color: #bcbcbc;
    font-size: 14px;
    position: relative;
}
.video_box .bottom .left p i{
    font-style: normal;
    color: #bb9824;
    cursor: pointer;
}
.video_box .bottom video{
    /* width: 462px;
    height: 273px; */
}
.video_box .bottom .left .introduce{

}
.video_box .bottom .left .all{
    /* display: none; */
}
.news{
    padding-bottom: 100px;
    margin-top: 67px;
}
.news .bottom{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 78%;
}
.news .bottom .cell{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33.3%;
}
.news .bottom img{
    width: 70px;
}
.news .bottom ul{
    width: 100%;
    border-right: 1px solid #e0e0e0;
    margin-top: 10px;
    padding-top: 10px;
}

.news .bottom ul li{
    display: flex;
    cursor: pointer;
    justify-content: center;
    margin-bottom: 14px;
}
.news .bottom .cell1 ul li:hover b,.news .bottom .cell1 ul li:hover p,.news .bottom .cell1 ul li:hover i{
    color: #e7b437 !important;
}
.news .bottom .cell2 ul li:hover b,.news .bottom .cell2 ul li:hover p,.news .bottom .cell2 ul li:hover i{
    color: #9aae3b !important;
}
.news .bottom .cell3 ul li:hover b,.news .bottom .cell3 ul li:hover p,.news .bottom .cell3 ul li:hover i{
    color: #6a8f98 !important;
}
.news .bottom ul li b{
    font-size: 18px;
    font-weight: bold;
    color: #cecdcb;
}
.news .bottom ul li p{
    padding-left: 10px;
    margin-left: 6px;
    max-width: 70%;
    color: #cecdcb;
    border-left: 1px solid #cecdcb;
    border-bottom: 1px solid #cecdcb;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.news .bottom ul li i{
    font-style: normal;
    color: #cecdcb;
    margin-left: 15px;
}

.company-scene .bottom{
    position: relative;
    margin-top: 40px;
    width: 100%;
}
.company_bg{
    /* position: absolute; */
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
}
.partner{
    width: 100%;
}
.map{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.expert-page{
    margin-top: 80px;
}